{% extends 'base.html.twig' %}

{% block title %}Profile - My Micro Blog{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(edit_profile_form) }}
        {{ form_end(edit_profile_form) }}
    </div>
{% endblock %}
