{% extends 'base.html.twig' %}

{% block title %}Messenger - My Micro blog{% endblock %}

{% block body %}
    <div class="container">
        <div class="row border" style="height: 50rem">
            <div class="col-4 border-end p-0">
                <a href="#" class="link-dark border-bottom btn btn-outline-light w-100 rounded-0">
                    <div class="w-100 d-flex flex-row justify-content-center" style="height: 5rem">
                        <div class="d-flex flex-column justify-content-center">
                            <div>
                                <i class="border border-dark rounded-circle p-2 text-dark fa fa-envelope"></i>
                                <b>New conversation</b>
                            </div>
                        </div>
                    </div>
                </a>
                {% for conversation in app.user.conversations %}
                    <a href="{{ path('app_conversation', {id: conversation}) }}" class="link-dark border-bottom btn btn-outline-light w-100 rounded-0">
                        <div class="w-100 d-flex flex-row justify-content-center" style="height: 5rem">
                            <div class="d-flex flex-column justify-content-center">
                                <div>
                                    <i class="border border-dark rounded-circle p-2 text-dark fa fa-envelope"></i>
                                    <b>New conversation</b>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-8">
                <div class="d-flex flex-row justify-content-center">
                    {% if conversation %}
                        {% for messages in conversation.messages %}
                        {% endfor %}
                    {% else %}
                        <h4>No conversation selected</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
