{% extends 'base.html.twig' %}

{% block title %}Home - My Micro Blog{% endblock %}

{% block body %}

    <div class="container">
        <div class="container" style="width: 35rem">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}